.inputGroup {
    height: 50%;
    width: 90%;
    display: flex;
    text-align: left;
    flex-direction: column;
    margin: 0 auto;
    padding: 0.5rem;
  }

.captcha {
    height: 50%;
    width: 90%;
    display: flex;
    text-align: left;
    flex-direction: column;
    margin: 0 auto;
    padding: 0.5rem 0.5rem 0 0.7rem;
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
}