html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

.embla {
  position: relative;

  width: 120%;
  margin-left: auto;
  margin-right: auto;
}

.embla__viewport {
  overflow: hidden;
  width: 100%;
}

.embla__viewport.is-draggable {
  cursor: move;
  cursor: grab;
}

.embla__viewport.is-dragging {
  cursor: grabbing;
}

.embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
  margin-left: -10px;
}

.embla__slide {
  position: relative;
  margin-left: 1.5rem;
  padding-left: 10px;
}

.embla__slide__inner {
  position: relative;
  overflow: hidden;
}

.embla__button {
  margin-top: 6rem;
  outline: 0;
  cursor: pointer;
  background-color: transparent;
  touch-action: manipulation;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  border: 0;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  fill: #1bcacd;
  padding: 0;
}

.embla__button:disabled {
  cursor: default;
  opacity: 0.3;
}

.embla__button__svg {
  width: 100%;
  height: 100%;
}

.embla__button--prev {
  left: 27px;
}

.embla__button--next {
  right: 27px;
}


* {
  box-sizing: border-box;
}

.section {
  display: flex;
  flex-direction: column;
  max-width: 65rem;
  box-sizing: content-box;
  position: relative;
  grid-template-columns: 1fr 1fr;
  flex-direction: column;
}

.section-container {
  width: 80%;
  margin: 0 auto;
  flex-direction: column;
  display: flex;
}

.section-header {
  font-family: monospace;
  font-weight: 800;
  width: max-content;
  max-width: 90%;
  margin-bottom: 16px;
}

.list-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.list-paragraph {
  font-size: 16px;
  line-height: 28px;
  opacity: 0.75;
}

.node {
  width: 1.4rem;
  height: 1.4rem;
  outline: 1px solid rgb(175, 216, 248);
  background-color: #ffffff;
  display: inline-block;
}

.node-finish {
  background-color: red;
}

.node-start {
  background-color: green;
}

.node-visited {
  animation-name: visitedAnimation;
  animation-duration: 0.6s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(0, 0, 66, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(17, 104, 217, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(0, 217, 159, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(0, 190, 218, 0.75);
  }
}

.node-wall {
  animation-name: wallAnimation;
  animation-duration: 0.2s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
  background-color: rgb(12, 53, 71);
}

@keyframes wallAnimation {
  0% {
    transform: scale(1.2);
    border-radius: 100%;
  }

  50% {
    transform: scale(1.3);
  }

  75% {
    transform: scale(1.15);
  }

  100% {
    transform: scale(1);
  }
}


.node-shortest-path {
  animation-name: shortestPath;
  animation-duration: 0.6s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes shortestPath {
  0% {
    transform: scale(0.6);
    background-color: rgb(255, 254, 106);
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(255, 254, 106);
  }

  100% {
    transform: scale(1);
    background-color: rgb(255, 254, 106);
  }
}

.canvas {
  width: 100vw;
  height: 89vh;
}

.controls {
  position: absolute;
  display: flex;
  bottom: 0;
  z-index: 50;
  min-width: 16rem;
  left: 50%;
  transform: translateX(-50%);
  
}

.controls > * {
  margin: 20px 10px;
}

.annotation {
  transform: translate3d(-50%, -150%, 0);
  text-align: left;
  background: #7676aa;
  color: rgb(7, 6, 20);
  padding: 16px;
  border-radius: 5px;
  font-size: 2rem;
}

.dialog {
  z-index: 999;
  margin-top: 70px;	
  background: rgba(88, 88, 207, 0.5);
  position: fixed;
  right: 0;
  top: 0;
  border-bottom-left-radius: 10px;
  color: aliceblue;
  padding: 8px;
}
.dialog-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 16px;
}
svg {
  cursor: pointer;
}
.details {
  margin-top: 12px;
}
.article-link {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 999;
  color: whitesmoke;
  font-size: 0.75rem;
  font-family: "Nunito", sans-serif;
  background: linear-gradient(90deg, #4666b7 0%, #a242b1 100%);
  box-shadow: 5px 5px 7px rgba(171, 125, 187, 0.22);
  border-radius: 99px;
  padding: 8px 16px;
  text-decoration: none;
}
